.listing-card {
    transition: transform .15s ease;

    &:hover {
        transform: translateY(-2px);
    }

    .listing-image {
        height: 210px;
        width: 100%;
        object-fit: cover;
    }

    .favourite-icon {
        &.favourite-selected {
            color: red;
        }
    }


}