:host {
    display: block;
    min-height: 100vh;
}

.navbar-brand {
    letter-spacing: -.02em;
}

.navbar-collapse {
    display: none;
    &.show {
        display: block;
    }
    @media (min-width: 992px) {
        display: flex !important;
    }
}